doctype 5
html
    head
        meta(charset='utf-8')
        title Vale.com
        if addHtml5shiv
            //if lt IE 9
                script(src='#{path}js/lib.html5shiv.js').
    body
        block content